/*1024px*/
@media (max-width: 64em) {
  .gallery-arrow {
    display: none;
  }

  .img-text {
    font-size: 2rem;
    padding: 1rem;
  }
}

/*896px*/
@media (max-width: 56em) {
  .col3 {
    display: none;
  }

  .main-gallery {
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
  }

  .img-container {
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0;
  }

  #gallery-img {
    width: 32%;
    height: auto;
    margin-bottom: 0;
  }

  .img-desc {
    width: 60%;
  }

  .img-text {
    font-size: 1.5rem;
  }
}

/*592px*/
@media (max-width: 37em) {
  .col2 {
    display: none;
  }

  .main-gallery {
    grid-template-columns: repeat(1, minmax(25rem, 1fr));
  }

  .img-container {
    flex-direction: column;
    gap: 1rem;
  }

  #gallery-img,
  .img-desc {
    width: 80%;
    padding: 0;
  }

  .img-text {
    font-size: 1rem;
  }
}
