body::-webkit-scrollbar {
  width: 1rem;
  height: 0;
}

body::-webkit-scrollbar-track {
  background-color: var(--main-color-shade1);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
  outline: 1px transparent var(--greys-color);
}

body {
  overflow-y: auto;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  height: calc(100vh - 8rem);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-card {
  background-color: var(--accent-color-shade1);
  overflow: hidden;
  border-radius: 20px;
  box-shadow: -1.5rem 2.4rem 2.4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.project-card:hover {
  cursor: pointer;
  transform: translateY(-4%);
}

.project-img {
  width: 100%;
  height: 40rem;
}

.img1 {
  background: url("../img/Diseno/Carteles/0.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img2 {
  background: url("../img/Diseno/Presentación-de-Logo.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.img3 {
  background: url("../img/Diseno/Camapana_el_corral/EL_CORRAL_post.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.img4 {
  background: url("../img/Diseno/Campana_frisby/Flayer_FRISBY.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.img5 {
  background: url("../img/Diseno/Campana_tres_cordilleras/Post.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.img6 {
  background: url("../img/Diseno/Campana_universidades/Desfile_victoriano_Historia_IG.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.img7 {
  background: url("../img/Diseno/Campana_XP/XP_pen_Mail.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.poject-title {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
/* Overlay */

.overlay-diseno {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--greys-color-transparent);
  overflow-y: scroll;
  /*IMPORTANT: para prevenir en celular que se scrolle a traves del overlay*/
  overscroll-behavior: contain;
}

.overlay-diseno::-webkit-scrollbar {
  width: 1rem;
  height: 0;
}

.overlay-diseno::-webkit-scrollbar-track {
  background-color: var(--greys-color-transparent);
}

.overlay-diseno::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
}

.img-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.img-tall {
  height: 100vh;
  width: auto;
  object-fit: contain;
}

.hidden-diseno {
  display: none;
}
