:root {
  --main-color: #48d1bf;
  --main-color-shade1: #daf6f2;
  --main-color-transparent: rgba(72, 209, 191, 0.5);
  --accent-color: #ff6468;
  --accent-color-shade1: #ffa2a4;
  --accent-tint1: #331415;
  --greys-color: #30304c;
  --greys-color-shade1: rgba(152, 152, 166, 0.5);
  --greys-color-transparent: rgba(48, 48, 76, 0.5);
  --new-color: #faaa8c;
}

html {
  background-color: black;
}

.track-container {
  position: relative;
  height: calc(100vh - 8rem);
  overflow-y: clip;
}

#image-track > img {
  width: 40rem;
  height: 100%;
  object-fit: cover;
  object-position: 100% center;
  user-select: none;
}

#image-track {
  display: flex;
  align-items: center;
  gap: 4rem;
  height: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  overflow: hidden;
}

#image-track:hover {
  cursor: grab;
}

#image-track:active {
  cursor: grabbing;
}

.gallery-overlay {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.gallery-arrow {
  display: inline-block;
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  stroke: var(--main-color-shade1);
  top: 50%;
  transform: translateY(-50%);
}

.gallery-arrow:hover {
  cursor: pointer;
}

.gallery-arrow:first-of-type {
  left: 2rem;
}

.gallery-arrow:last-of-type {
  right: 2rem;
}

.img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#gallery-img {
  user-select: none; /* Standard syntax */
  -moz-user-select: none; /* Firefox */
  -webkit-user-drag: none; /* WebKit (Safari/Chrome) */
  -webkit-user-select: none; /* WebKit (Safari/Chrome) */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#gallery-img:hover {
  cursor: grab;
  transition: transform 0.3s ease;
}

#gallery-img:active {
  cursor: grabbing;
}

.hidden-photo {
  display: none;
}

.gallery-arrow {
  display: inline-block;
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  background-color: white;
  stroke: black;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-arrow:hover {
  cursor: pointer;
}

.gallery-arrow:first-of-type {
  left: 1rem;
}

.gallery-arrow:last-of-type {
  right: 1rem;
}

.image-transition {
  transition: opacity 0.3s ease;
}

/*Flechas galeria*/

.buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  margin-bottom: 2rem;
  display: flex;
  gap: 25%;
  height: 5rem;
  justify-content: space-around;
}

.arrow {
  height: 100%;
  aspect-ratio: 1 / 1;
  stroke: black;
  background-color: white;
  border-radius: 50px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:active {
  stroke: white;
  background-color: black;
}
