:root {
  --main-color: #48d1bf;
  --main-color-shade1: #daf6f2;
  --main-color-transparent: rgba(72, 209, 191, 0.9);
  --accent-color: #ff6468;
  --accent-color-shade1: #ffa2a4;
  --accent-tint1: #331415;
  --greys-color: #30304c;
  --greys-color-shade1: rgba(152, 152, 166, 0.5);
  --greys-color-transparent: rgba(48, 48, 76, 0.9);
  --new-color: #faaa8c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Balsamiq Sans", cursive;
}

html {
  background-color: var(--main-color-shade1);
}

html::-webkit-scrollbar {
  width: 1rem;
  height: 0;
}

html::-webkit-scrollbar-track {
  background-color: var(--main-color-shade1);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 6px;
  outline: 1px transparent var(--greys-color);
}

body {
  overflow: hidden;
}

/* Navigation */

.nav-container {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fb9772;
  position: relative;
}

.nav-icon {
  height: 6rem;
  width: 6rem;
  margin-left: 4rem;
}

.nav-name {
  font-size: 3rem;
  padding-left: 1rem;
  letter-spacing: 3px;
  color: #803234;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav:hover,
.left-nav:active {
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
  margin-right: 6rem;
}

.nav-item {
  font-size: 2rem;
}

.nav-item a {
  transition: all 0.3s;
  padding: 1rem;
}

.nav-item a:link,
.nav-item a:visited {
  text-decoration: none;
  color: #803234;
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.nav-logo {
  fill: var(--main-color-shade1);
  transition: all 0.3s;
}

.nav-logo:hover {
  background-color: var(--accent-color);
  border-radius: 5px;
}

.mobile-nav-btn {
  display: none;
  transition: all 0.3s;
}

/*Dropdown links de insta*/

.insta-logo {
  position: relative;
}

.hidden-dropdown {
  display: none;
}

.dropdown-insta {
  position: absolute;
  top: 8rem;
  z-index: 10;
  width: 15rem;
  transition: all 5s;
}

.insta-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--main-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.insta-link {
  display: flex;
}

.insta-link a:link,
.insta-link a:visited {
  text-decoration: none;
}

.insta-link a:hover,
.insta-link a:active {
  text-decoration: underline;
}

.dropdown-icon {
  height: 2rem;
  width: auto;
  padding-right: 5px;
  stroke: rgb(85, 26, 139);
}

/* Projects */

.projects-container {
  padding: 2rem;
  height: calc(100vh - 8rem);
  max-width: 210rem;
  margin: 0 auto;
  position: relative;
}

.projects {
  height: 100%;
  width: 100%;
  overflow: clip;
  display: flex;
  flex-direction: row;
}

.project {
  position: relative;
  display: inline-block;
  overflow: clip;
  height: 100%;
  width: 90rem;
  transition: all 0.3s;
}

.project:hover {
  cursor: pointer;
}

.titulo-diseno,
.titulo-ilustracion,
.titulo-fotografia {
  position: absolute;
  font-size: 5rem;
  top: 70%;
  transform: translateY(-50%);
  left: 5rem;
  color: var(--main-color-shade1);
  border-radius: 15px;
  display: inline-block;
  z-index: 4;
  transition: all 0.3s;
  text-shadow: 5px 5px black;
}

.titulo-diseno {
  left: 2rem;
}

.project > img {
  height: 100%;
  transform: scale(1.3);
  position: absolute;
  transition: all 0.2s;
}

.p1 {
  margin-right: -20%;
  background: url("../img/Diseno/Carteles/4.webp");
  background-size: cover;
  background-position: center;
}

.p2 {
  margin-right: -15%;
  border-radius: 34% 0% 0% 38% / 41% 10% 10% 46%;
  width: 100rem;
  z-index: 2;
  background: url("../img/Ilustración/6.webp");
  background-size: cover;
  background-position: center;
}

.p3 {
  z-index: 3;
  border-radius: 34% 0% 0% 38% / 41% 10% 10% 46%;
  background: url("../img/Fotografia/4.webp");
  background-size: cover;
  background-position: center;
}

.main-icon {
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  width: 20%;
  z-index: 6;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}

.icon::after {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fb9772;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  z-index: -1; /* to be below the parent element */
}

/* Mobile navigation*/

.mobile-nav-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--main-color-transparent);
  backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in;
}

.hidden-nav-overlay {
  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;

  transform: translateX(100%);
}

.mobile-nav-list {
  z-index: 11;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.close-mobile {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4.5rem;
  height: 4.5rem;
  fill: none;
  stroke: var(--greys-color);
}

.mobile-nav-item {
  font-size: 3rem;
}

.social {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.mobile-link:link,
.mobile-link:visited {
  text-decoration: none;
  color: var(--greys-color);
}

.mobile-nav-logo {
  fill: var(--accent-color);
}
