:root {
  --main-color: #48d1bf;
  --main-color-shade1: #daf6f2;
  --main-color-transparent: rgba(72, 209, 191, 0.5);
  --accent-color: #ff6468;
  --accent-color-shade1: #ffa2a4;
  --accent-tint1: #331415;
  --greys-color: #30304c;
  --greys-color-shade1: rgba(152, 152, 166, 0.5);
  --greys-color-transparent: rgba(48, 48, 76, 0.5);
  --new-color: #faaa8c;
}

html {
  background-color: black;
}

#image-track > img {
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  object-position: 100% center;
  user-select: none;
}

#image-track {
  display: flex;
  align-items: center;
  gap: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  overflow: hidden;
}

.gallery-overlay {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.gallery-arrow {
  display: inline-block;
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  stroke: var(--main-color-shade1);
  top: 50%;
  transform: translateY(-50%);
}

.gallery-arrow:hover {
  cursor: pointer;
}

.gallery-arrow:first-of-type {
  left: 2rem;
}

.gallery-arrow:last-of-type {
  right: 2rem;
}

.img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-photo {
  display: none;
}
